.nav-bar {
  display: flex;
  align-items: center;
  flex: flex-grow;
  justify-content: center;
  padding: 5px 0;
  background-color: rgb(238, 238, 238);
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.nav-bar button {
  margin: 5px;
  border: 0px;
}
