.page-title {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 1.2rem;
}

.page-title::before,
.page-title::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 0.5px;
  margin: 0px 8px;
}

.move-button {
  width: 100%;
  background-color: #ffa6a9;
  margin: 20px 0;
  padding: 10px;
  border-radius: 150px;
  border: none;
  font-size: 1.5rem;
}

.move-button:hover {
  background-color: #ff8387;
  transition: 0.3s;
}
