@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

html {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  color: #3f454d;
  animation: fadein 3s;
}

button a {
  text-decoration: none;
  color: #3f454d;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: linear-gradient(to bottom, #ffa6a9, #ffe3a3, #ffffff);
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Cookie", cursive;
  font-size: 3rem;
  padding-top: 15px;
  transition: top 0.2s ease-in-out;
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 35px;
  justify-content: center;
}
